In [1]:
import pandas as pd

In [2]:
df_2011 = pd.read_csv('Rainfall-2008-2011.csv')
df_2012 = pd.read_csv('Rainfall-2012.csv')
df_2013 = pd.read_csv('Rainfall-2013.csv')
df_2014 = pd.read_csv('Rainfall-2014.csv')
df_2015 = pd.read_csv('Rainfall-2015.csv')
df_2016 = pd.read_csv('Rainfall-2016.csv')
df_2017 = pd.read_csv('Rainfall-2017.csv')
df_2018 = pd.read_csv('Rainfall-2018.csv')
df_2019 = pd.read_csv('Rainfall-2019.csv')
df_2020 = pd.read_csv('Rainfall-2020.csv')

In [3]:
df = pd.concat([df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020])
df

,DISTRICTS,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,BAGALKOTE,2008,0.0,16.7,94.2,10.3,37.5,46.5,28.3,60.2,135.4,60.3,27.2,0.3
1,BAGALKOTE,2009,0.0,0.0,2.9,14.8,66.3,119.0,41.7,107.3,195.6,220.1,28.8,31.2
2,BAGALKOTE,2010,13.4,0.1,0.0,10.6,57.4,109.7,89.6,149.3,64.2,58.3,83.2,0.4
3,BAGALKOTE,2011,0.0,1.9,0.4,39.2,81.0,74.9,77.6,107.0,57.1,90.4,0.0,0.0
4,BENGALURU RURAL,2008,0.0,2.1,100.9,15.2,100.7,11.8,149.1,223.0,103.9,150.4,25.2,2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,YADGIR,2019,0.0,0.0,0.0,15.7,21.9,82.5,138.2,70.7,181.1,67.4,11.2,0.9
0,MYSURU,2020,0.0,4.3,19.9,50.0,128.4,72.7,124.2,138.5,140.4,97.1,36.0,14.7
1,HASSAN,2020,0.2,0.0,13.2,47.2,161.0,111.3,177.3,225.0,175.9,155.4,26.9,16.4
2,KODAGU,2020,0.0,0.0,16.3,113.2,201.8,412.2,436.9,974.9,521.1,178.7,24.1,9.9
3,CHIKKAMAGALURU,2020,0.0,0.0,7.8,55.9,139.2,266.7,352.9,662.7,370.3,161.2,32.7,20.2

## Verify all district names are matched

In [4]:
def check_districts(df):
    if df.shape[0] < 9:
        print(df['DISTRICTS'].values[0], df['YEAR'].values)

In [5]:
df.groupby('DISTRICTS').apply(check_districts)

Empty DataFrame
Columns: []
Index: []

In [6]:
df['DISTRICTS'].nunique()

30

## Save dataset

In [7]:
df.to_csv('../rainfall_dataset.csv', index=False)