In [102]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [72]:
df = pd.read_csv('opwnweathermap_historic.csv')
df

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1262304000,2010-01-01 00:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,21.10,21.62,21.10,21.10,...,64,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
1,1262307600,2010-01-01 01:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,21.13,21.65,21.13,21.13,...,62,NaN,NaN,NaN,NaN,35,802,Clouds,scattered clouds,03n
2,1262311200,2010-01-01 02:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,21.60,22.14,21.60,21.60,...,59,NaN,NaN,NaN,NaN,21,801,Clouds,few clouds,02d
3,1262314800,2010-01-01 03:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,19.69,20.06,16.97,21.02,...,50,NaN,NaN,NaN,NaN,90,741,Fog,fog,50d
4,1262318400,2010-01-01 04:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,19.96,20.36,17.80,21.02,...,50,NaN,NaN,NaN,NaN,90,741,Fog,fog,50d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308552,1630436400,2021-08-31 19:00:00 +0000 UTC,19800,Hassan,13.003323,76.100389,20.29,20.75,20.29,20.29,...,245,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
308553,1630440000,2021-08-31 20:00:00 +0000 UTC,19800,Hassan,13.003323,76.100389,19.22,19.68,19.22,19.22,...,248,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
308554,1630443600,2021-08-31 21:00:00 +0000 UTC,19800,Hassan,13.003323,76.100389,19.22,19.68,19.22,19.22,...,248,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
308555,1630447200,2021-08-31 22:00:00 +0000 UTC,19800,Hassan,13.003323,76.100389,19.22,19.68,19.22,19.22,...,248,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
308556,1630450800,2021-08-31 23:00:00 +0000 UTC,19800,Hassan,13.003323,76.100389,18.52,18.99,18.52,18.52,...,240,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n

In [73]:
df['dt_iso'].str.split().str[-1].unique()

array(['UTC'], dtype=object)

In [75]:
df['date'] = df['dt_iso'].str.split().str[0]
df['time'] = df['dt_iso'].str.split().str[1]
df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date,time
0,1262304000,2010-01-01 00:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,21.10,21.62,21.10,21.10,...,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,2010-01-01,00:00:00
1,1262307600,2010-01-01 01:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,21.13,21.65,21.13,21.13,...,NaN,NaN,NaN,35,802,Clouds,scattered clouds,03n,2010-01-01,01:00:00
2,1262311200,2010-01-01 02:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,21.60,22.14,21.60,21.60,...,NaN,NaN,NaN,21,801,Clouds,few clouds,02d,2010-01-01,02:00:00
3,1262314800,2010-01-01 03:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,19.69,20.06,16.97,21.02,...,NaN,NaN,NaN,90,741,Fog,fog,50d,2010-01-01,03:00:00
4,1262318400,2010-01-01 04:00:00 +0000 UTC,19800,Kodagu,12.337494,75.806908,19.96,20.36,17.80,21.02,...,NaN,NaN,NaN,90,741,Fog,fog,50d,2010-01-01,04:00:00

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308557 entries, 0 to 308556
Data columns (total 27 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt                   308557 non-null  int64
 1   dt_iso               308557 non-null  object
 2   timezone             308557 non-null  int64
 3   city_name            308557 non-null  object
 4   lat                  308557 non-null  float64
 5   lon                  308557 non-null  float64
 6   temp                 308557 non-null  float64
 7   feels_like           308557 non-null  float64
 8   temp_min             308557 non-null  float64
 9   temp_max             308557 non-null  float64
 10  pressure             308557 non-null  int64
 11  sea_level            0 non-null       float64
 12  grnd_level           0 non-null       float64
 13  humidity             308557 non-null  int64
 14  wind_speed           308557 non-null  float64
 15  wind_deg             308557 non-null  int64
 16  rain_1h              72239 non-null   float64
 17  rain_3h              0 non-null       float64
 18  snow_1h              0 non-null       float64
 19  snow_3h              0 non-null       float64
 20  clouds_all           308557 non-null  int64
 21  weather_id           308557 non-null  int64
 22  weather_main         308557 non-null  object
 23  weather_description  308557 non-null  object
 24  weather_icon         308557 non-null  object
 25  date                 308557 non-null  object
 26  time                 308557 non-null  object
dtypes: float64(13), int64(7), object(7)
memory usage: 63.6+ MB

In [77]:
df.drop(columns=['dt', 'dt_iso', 'timezone', 'lat', 'lon', 'sea_level', 'grnd_level', 'rain_3h', 'snow_1h', 'snow_3h', 'weather_id', 'weather_icon'], inplace=True)
df.head()

,city_name,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,clouds_all,weather_main,weather_description,date,time
0,Kodagu,21.10,21.62,21.10,21.10,1011,90,2.40,64,NaN,20,Clouds,few clouds,2010-01-01,00:00:00
1,Kodagu,21.13,21.65,21.13,21.13,1011,90,2.43,62,NaN,35,Clouds,scattered clouds,2010-01-01,01:00:00
2,Kodagu,21.60,22.14,21.60,21.60,1012,89,2.47,59,NaN,21,Clouds,few clouds,2010-01-01,02:00:00
3,Kodagu,19.69,20.06,16.97,21.02,1018,90,1.50,50,NaN,90,Fog,fog,2010-01-01,03:00:00
4,Kodagu,19.96,20.36,17.80,21.02,1018,90,1.50,50,NaN,90,Fog,fog,2010-01-01,04:00:00

In [78]:
df['rain_1h'].fillna(0, inplace=True)
df.head()

,city_name,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,clouds_all,weather_main,weather_description,date,time
0,Kodagu,21.10,21.62,21.10,21.10,1011,90,2.40,64,0.0,20,Clouds,few clouds,2010-01-01,00:00:00
1,Kodagu,21.13,21.65,21.13,21.13,1011,90,2.43,62,0.0,35,Clouds,scattered clouds,2010-01-01,01:00:00
2,Kodagu,21.60,22.14,21.60,21.60,1012,89,2.47,59,0.0,21,Clouds,few clouds,2010-01-01,02:00:00
3,Kodagu,19.69,20.06,16.97,21.02,1018,90,1.50,50,0.0,90,Fog,fog,2010-01-01,03:00:00
4,Kodagu,19.96,20.36,17.80,21.02,1018,90,1.50,50,0.0,90,Fog,fog,2010-01-01,04:00:00

In [80]:
df['city_name'].unique()

array(['Kodagu', 'Mysuru', 'Hassan'], dtype=object)

In [81]:
kodagu_df = df[df['city_name'] == 'Kodagu']
mysuru_df = df[df['city_name'] == 'Mysuru']
hassan_df = df[df['city_name'] == 'Hassan']

kodagu_df.shape, mysuru_df.shape, hassan_df.shape

((103729, 15), (102564, 15), (102264, 15))

In [88]:
df['weather_description'].unique()

array(['few clouds', 'scattered clouds', 'fog', 'broken clouds',
       'overcast clouds', 'light rain', 'sky is clear', 'mist', 'haze',
       'moderate rain', 'heavy intensity rain', 'light intensity drizzle',
       'drizzle', 'very heavy rain', 'thunderstorm with heavy rain',
       'thunderstorm with rain', 'thunderstorm',
       'heavy intensity drizzle', 'proximity shower rain',
       'thunderstorm with light rain', 'shower rain',
       'light intensity shower rain', 'light thunderstorm'], dtype=object)

In [130]:
daily_data = {}
for group_key, group_df in df.groupby(['date', 'city_name']):
#     print(group_key)
#     print(group_df)
    date = group_key[0]
    city = group_key[1]
    
    row_key = f'{date} {city}'
    
    daily_data[row_key] = {}
    daily_data[row_key]['date'] = date
    daily_data[row_key]['city_name'] = city
    daily_data[row_key]['temp'] = round(group_df['temp'].mean(), 2)
    daily_data[row_key]['feels_like'] = round(group_df['feels_like'].mean(), 2)
    daily_data[row_key]['temp_min'] = round(group_df['feels_like'].min(), 2)
    daily_data[row_key]['temp_max'] = round(group_df['feels_like'].max(), 2)
    daily_data[row_key]['pressure'] = round(group_df['pressure'].mean(), 2)
    daily_data[row_key]['humidity'] = round(group_df['humidity'].mean(), 2)
    daily_data[row_key]['wind_speed'] = round(group_df['wind_speed'].mean(), 2)
    daily_data[row_key]['wind_deg'] = round(group_df['wind_deg'].mean(), 2)
    daily_data[row_key]['rain'] = round(group_df['rain_1h'].sum(), 2)
    daily_data[row_key]['clouds_all'] = round(group_df['clouds_all'].mean(), 2)
    
    weather_col = group_df['weather_description'].values
    weathers, counts = np.unique(weather_col, return_counts=True)
    for i in range(weathers.shape[0]):
        daily_data[row_key][weathers[i]] = int(counts[i])
#     print(daily_data)

In [131]:
daily_df = pd.DataFrame(daily_data)
daily_df

,2010-01-01 Hassan,2010-01-01 Kodagu,2010-01-01 Mysuru,2010-01-02 Hassan,2010-01-02 Kodagu,2010-01-02 Mysuru,2010-01-03 Hassan,2010-01-03 Kodagu,2010-01-03 Mysuru,2010-01-04 Hassan,...,2021-08-28 Mysuru,2021-08-29 Hassan,2021-08-29 Kodagu,2021-08-29 Mysuru,2021-08-30 Hassan,2021-08-30 Kodagu,2021-08-30 Mysuru,2021-08-31 Hassan,2021-08-31 Kodagu,2021-08-31 Mysuru
date,2010-01-01,2010-01-01,2010-01-01,2010-01-02,2010-01-02,2010-01-02,2010-01-03,2010-01-03,2010-01-03,2010-01-04,...,2021-08-28,2021-08-29,2021-08-29,2021-08-29,2021-08-30,2021-08-30,2021-08-30,2021-08-31,2021-08-31,2021-08-31
city_name,Hassan,Kodagu,Mysuru,Hassan,Kodagu,Mysuru,Hassan,Kodagu,Mysuru,Hassan,...,Mysuru,Hassan,Kodagu,Mysuru,Hassan,Kodagu,Mysuru,Hassan,Kodagu,Mysuru
temp,21.77,23.9,24.18,20.73,23.56,23.21,19.5,22.64,22.56,19.36,...,22.03,19.44,18.84,20.98,20.73,20.07,22.36,21.86,21.29,23.37
feels_like,22.02,24.71,24.51,20.8,24.41,23.24,19.42,22.98,22.34,19.15,...,22.5,19.88,19.37,21.25,21.1,20.57,22.9,22.21,21.81,24.15
temp_min,17.22,20.06,18.82,14.47,19.18,16.74,13.35,16.85,16.12,13.18,...,20.24,18.35,18.89,19.84,18.35,19.03,19.59,18.87,19.03,19.59
temp_max,26.35,31.39,30.3,27.35,31.88,29.32,24.73,29.02,27.79,26.74,...,26.03,21.32,19.82,22.89,24.22,23.77,28.21,26.31,26.23,29.98
pressure,1013.5,1012.17,1012.92,1015.25,1014.08,1014.58,1015.33,1014.12,1014.83,1013.29,...,1007.83,1008.0,1008.33,1008.29,1008.62,1009.0,1009.33,1009.29,1009.79,1009.8
humidity,77.92,83.5,68.42,73.75,78.38,64.33,73.12,73.62,59.58,68.38,...,84.29,93.67,99.12,81.04,85.5,93.5,82.33,82.17,89.21,81.96
wind_speed,2.81,1.55,2.62,2.42,1.41,2.19,2.07,1.22,1.43,2.07,...,5.59,3.18,1.66,6.03,4.08,1.71,5.38,3.39,1.78,4.09
wind_deg,89.33,104.21,90.38,70.29,112.46,71.42,53.42,92.29,58.29,44.04,...,249.42,246.08,239.88,249.5,252.46,241.83,253.62,249.33,245.88,257.96
rain,0.0,0.94,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.57,50.07,63.35,40.82,0.0,0.0,0.0,2.07,4.14,5.5
clouds_all,67.62,51.92,31.58,11.79,22.75,18.67,42.12,48.17,55.58,6.04,...,58.12,50.0,50.0,53.96,47.75,49.0,51.67,47.5,49.62,41.64
broken clouds,5,3,5,2,3,2,7,11,6,1,...,4,NaN,NaN,2,3,NaN,8,3,NaN,NaN
overcast clouds,12,4,NaN,NaN,NaN,NaN,3,2,8,NaN,...,NaN,3,NaN,NaN,9,12,4,6,9,3
scattered clouds,4,8,8,3,3,5,6,3,3,2,...,NaN,NaN,NaN,1,NaN,NaN,7,NaN,NaN,7
sky is clear,3,NaN,4,19,13,12,6,5,5,21,...,1,6,1,4,12,12,5,12,12,5
few clouds,NaN,6,7,NaN,3,5,2,1,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fog,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
light rain,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16,6,11,5,NaN,NaN,NaN,3,NaN,6
mist,NaN,NaN,NaN,NaN,2,NaN,NaN,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
haze,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
moderate rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,6,9,9,NaN,NaN,NaN,NaN,3,NaN
heavy intensity rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN
light intensity drizzle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
drizzle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heavy intensity drizzle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
very heavy rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thunderstorm with heavy rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thunderstorm with rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thunderstorm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
proximity shower rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thunderstorm with light rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shower rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
light intensity shower rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
light thunderstorm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
daily_df = daily_df.T.reset_index(drop=True)
daily_df

,date,city_name,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,...,heavy intensity drizzle,very heavy rain,thunderstorm with heavy rain,thunderstorm with rain,thunderstorm,proximity shower rain,thunderstorm with light rain,shower rain,light intensity shower rain,light thunderstorm
0,2010-01-01,Hassan,21.77,22.02,17.22,26.35,1013.5,77.92,2.81,89.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,Kodagu,23.9,24.71,20.06,31.39,1012.17,83.5,1.55,104.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-01,Mysuru,24.18,24.51,18.82,30.3,1012.92,68.42,2.62,90.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-02,Hassan,20.73,20.8,14.47,27.35,1015.25,73.75,2.42,70.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-02,Kodagu,23.56,24.41,19.18,31.88,1014.08,78.38,1.41,112.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12778,2021-08-30,Kodagu,20.07,20.57,19.03,23.77,1009.0,93.5,1.71,241.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12779,2021-08-30,Mysuru,22.36,22.9,19.59,28.21,1009.33,82.33,5.38,253.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12780,2021-08-31,Hassan,21.86,22.21,18.87,26.31,1009.29,82.17,3.39,249.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12781,2021-08-31,Kodagu,21.29,21.81,19.03,26.23,1009.79,89.21,1.78,245.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12782,2021-08-31,Mysuru,23.37,24.15,19.59,29.98,1009.8,81.96,4.09,257.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
daily_df.fillna(0, inplace=True)

In [139]:
daily_df[daily_df.columns.difference(['date', 'city_name', 'temp', 'feels_like', 'temp_min', 'temp_max', 'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain', 'clouds_all'])].sum()

broken clouds                   40888
drizzle                            39
few clouds                      21018
fog                               431
haze                              797
heavy intensity drizzle            15
heavy intensity rain             1720
light intensity drizzle           694
light intensity shower rain        16
light rain                      52336
light thunderstorm                  7
mist                             3127
moderate rain                   16445
overcast clouds                 96785
proximity shower rain              69
scattered clouds                34176
shower rain                        93
sky is clear                    39587
thunderstorm                      210
thunderstorm with heavy rain        5
thunderstorm with light rain       55
thunderstorm with rain             35
very heavy rain                     9
dtype: int64

In [141]:
daily_df.to_csv('mysuru_kodagu_hassan_weather.csv', index=False)